* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #1c1c1c;
}

.main-container {
	display: grid;
	grid-template-areas:
		"H"
		"M"
		"F";
}

header {
	background: #dbbb2c;
	text-align: center;
	color: #fff;
	padding: 1rem;
	grid-area: H;
	width: 100%;
	position: fixed;
	height: 80px;
	display: flex;
	justify-content: space-between;
}

header .toggle {
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	right: 2rem;
	align-items: center;

}
header .logo{
	display: flex;
	font-size: 10px;
	align-items: center;
	padding: 10px;

}
header .logo-icons{
	padding: 10px;
}

aside {
	background: #fdd2a0;
	grid-area: A;
	position: fixed;
	top: 59px;
	height: calc(100vh - 59px);
	width: 50%;
	transform: translateX(200%);
	transition: transform 0.2s;
}

aside .container {
	padding: 2rem;
}

aside.show {
	transform: translateX(100%);
}

aside .logo-icons {
	font-size: 10px;
}

aside ul {
	padding: 0;
	list-style: none;
	margin-top: 10px;
	text-align: center;
}

aside a {
	color: #1c1c1c;
	margin-bottom: 0.5rem;
	text-decoration: none;
	
}

aside a span {
	color: #979797;
}



main {
	background: #eee;
	grid-area: M;
	padding: 6rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 113px);
}

.search-price{
	width: 100%;
	max-width: 1200px;
	margin-bottom: 2rem;
	text-align: center;

}
.select-price {
	width: 100%;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	margin-bottom: 20px;
	outline: none;

}


.product-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	width: 100%;
	max-width: 1200px;
	overflow-y: scroll;
	height: calc(100vh - 250px);
}


.card {
	display: none;
	flex-direction: column;
	align-items: center;
	background: #fff;
}
.card:first-child{
	display: flex;
}

.card h3 {
	margin: 1rem 0;
}

.card .btn {
	color: #fff;
	background: #f5a615;
	width: 50%;
	text-align: center;
	padding: 0.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: 10%;
	text-decoration: none;
}

.card img {
	width: 100%;
}

footer {
	grid-area: F;
	padding: 1rem;
	text-align: center;
	background-color: #dbbb2c;
	height: 100%;
}

.footer-icons i p {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 50px;

}

.number {
	display: flex;
	justify-content: center;
	

	
}

.number button {
	display: flex;
	align-items: center;
	margin-top: 30px;
	color: #070608;
	padding: 10px;
	width: 10%;
	height: 10px;
	text-align: center;
	justify-content: center;
}	

@media (min-width: 576px) {
	aside {
		width: 30%;

	}

	.product-grid {
		grid-template-columns: 1fr 1fr;
	}
	
}

@media (min-width: 992px) {
	.main-container {
		grid-template-areas:
			"A M M M M"
			"A M M M M"
			"F M M M M";
	}

	header {
		position: initial;
		display: none;
	}

	header .toggle {
		display: none;

	}
	section .logo{
		display: none;
		
		
	}
	
	

	aside {
		transform: none;
		position: initial;
		width: auto;
		height: calc(100vh - 100px)

	}

	aside .logo{
		display: flex;
		font-size: 1rem;
		align-items: center;
	}
	aside .logo-icons{
		margin-right: 10px;
	}

	main {
		padding: 2rem;
	}

	.product-grid {
		grid-template-columns: 1fr 1fr 1fr;

	}
	.card{
		display: flex;
	}
	.search-price{
		width: 100%;
		
	}
	p{
		font-size: 15px;
		text-align: center;
		margin-bottom: 10px;
	}
	footer{
		height: 100px;
	}
}

